/* start Variables *//* start Variables */
:root {
    --main-color: #8ff5eb;
    --secondary-color: #853de5;
    --section-padding:60px;
    --section-background:#f1efef;
}
/* End Variables */

/* Start Gloabl Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Gloabl Rules */

/* start components */
/* start Header */
header .top{
    height: 150px;
    /* margin: 50PX 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid #5c5b5b; */
}
header .search i{
    color: #949494;
    font-size: 18px;
}
header .search input{
    border: none;
    padding: 15px;
    font-weight: bold !important;
}
header .name{
    margin-right: 100px;
    border: 2px solid #5c5b5b;
    padding: 8px 0px;
    width: 200px;
    text-align: center;
    border-radius: 6px;
}
header .name:hover{
    border: 2px solid #853de5;
    background-color: #ddd;
    padding: 12px 4px;
}
header .name h2{
    font-size: 20px;
    color: #5c5b5b;
    margin: 0;
}
header .name h2:hover{
    color: #853de5;
}
header .icon{
    width: 100px;
    color: #5c5b5b;
}
header .icon i{
    margin-right: 10px;
    color: #5c5b5b;
}
header .icon i:hover {
    color: #853de5;
    font-size: 18px;
}
nav .links{
    margin: auto ;
    width: 830px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}
nav .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 20px;
}
nav .links li{
    margin-left:50px;
    list-style-type: none;
    font-weight: bold;
    color: #5c5b5b;
}
nav .links li:hover{
    color: #853de5;
    cursor: pointer;
    border-bottom: 2px solid #853de5;

}
.hed{
    background-color: #ddd;
    height: 60px;
    display: flex;
    align-items: center;
}
.hed a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.hed a :hover{
    color: #853de5;
}
/* End Header */
/* Start About */
.about{
    margin-top :60px ;
    margin-bottom: 80px;
    /* height: 800px; */
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.box img{
    width:600px ;
}
.about .box_1{
    width: 450px;

}
.about .box_1 span{
    font-size: 40px;
    margin: 0;
    color: #853de5;
}
.about .box_1 h2{
    font-size: 30px;
    margin: 0;
    color: #5c5b5b;
}
.about .box_1 p{
    width: 500px;
    line-height:30px ;
    color: #949494;
}
/* End About */
/* Start Team */
.team{
    text-align: center;
    margin-bottom: 60px;
}
.team .top{
    font-size: 40px;
    margin: 0;
    color: #853de5;
}
.team h1{
    margin: 0;
}
.team .cards{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.team .cards .card{
    width: 300px;
}
.team .cards .card img{
    width: 150px;
    border-radius: 50%;
}
.team .cards .card h3{
    margin-bottom: 0;
    font-size: 25px;
    color: #5c5b5b;
}
.team .cards .card span{
    font-size: 15px;
    color: #949494;
    font-weight: 400;
}
.team .cards .card p{
    line-height: 30px;
    color: #949494;
}
/* End Team */
/* Start section_two */
.two{
    margin-top: 60px;
}
.two .third{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two .box{
    width: 350px;
    display: flex;
}
.two .box i{
    margin-right: 15px;
    font-size: 40px;
    color: #853de5;
}
.two .box div h4{
    margin: 0;
    color: #5c5b5b;
}
.two .box div p{
    color: #9b9a9a;
}
/* End section_two */
/* Start section_six */
footer{
    background-color: #eee;
    padding-top: 60px;
    margin-top: 30px;
}
.content_footer{
    display: flex;
    align-items: flex-start;
}
.h_foot{
    font-size: 22px;
    color: #5c5b5b;
}
.naigations{
    /* width:900px; */
    margin-right: 100px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link ul{
    list-style-type: none;
    padding: 0px ;
    margin: 0 ;
}
.link ul li{
    margin-bottom: 40px;
    /* margin-right: 30px; */
    font-size: 16px;
    font-weight: 600;
    color: #9b9a9a;
}
.promo img{
    width: 250px;
}
.promo h4{
    color: #853de5;
}
.promo span{
    color: #5c5b5b;
}
.contact_info{
    width: 400px;
    margin-left: 60px;
}
.contact_info .cont_info{
    display: flex; 
    flex-direction: column;
}
.cont_info div{
    margin-bottom: 25px;
}
.cont_info i{
    font-size: 20px;
    color: #853de5;
    margin-right: 15px;
}
.cont_info span{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #5c5b5b;
}
form{
    margin-top: 20px;
}
.cont_info form .inbut{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0px 0px 8px 0px #5c5b5b;
    width: 100%;
}
.cont_info form #email{
    background-color: #eee;
    margin-right: 0;
    border: 0;
    width: 80%;
}
.cont_info form #submit{
    padding: 25px 20px;
    margin-left: 0;
}
.button {
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 4px;
    background-color: #853de5;
    color: #ddd;
    cursor: pointer;
}
.button:hover{
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 6px;
    background-color: #853de5;
    color: #ddd;
    box-shadow: 2px 2px 15px 3px #888888;
}
.foot{
    text-align: center;
    color: #5c5b5b;
    font-weight: 600;
    padding: 20px;
    margin-top: 60px;
}
/* End section_six */

